<div class = "col-md-8 col-md-offset-3"><h1>Bicycle Geometry Comparison Calculator</h1></div>

<div class = "col-md-12">
  <h2>Customer Information</h2>
  <form id = "cusInfo" class="form-inline">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" id="firstName" ng-model="customerInfo.firstName" />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" ng-model="customerInfo.lastName" />
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="number" name="phoneNumber" id="phoneNumber" ng-model="customerInfo.phoneNumber" />
    </div>

    <div class="form-group">
      <label for="emailAddress">Email</label>
      <input type="text" name="emailAddress" id="emailAddress" ng-model="customerInfo.emailAddress" />
    </div>

  </div>
</form>
  <!-- Mobile friendly works better at "col-md-4" but browser is better at 3 -->
<div class="col-md-2">
<h3>Bike One</h3>



  <form id="FirstBike">
    <div>
      <label for="bikeOneMake"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(1)">Make</a></label>
      <input class="inputSizeChange" type="text" name="bikeOneMake" id="bikeOneMake" ng-model="firstBike.bikeOneMake" />
    </div>

    <div>
      <label for="bikeOneModel"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(2)"> Model</a></label>
      <input class="inputSizeChange" type="text" name="bikeOneModel" id="bikeOneModel" ng-model="firstBike.bikeOneModel" />
    </div>

    <div>
      <label for="bikeOneSize"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(3)">Size</a></label>
      <input class="inputSizeChangeTwo" type="number" name="bikeOneSize" id="bikeOneSize" ng-model="firstBike.bikeOneSize" />
    </div>

    <div>
      <label for="toptubeLength"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(4)">Top Tube Length</a></label>
      <input class="inputSizeChangeTwo" type="number" name="toptubeLength" id="toptubLength" ng-model="firstBike.toptubeLength" />
    </div>

    <div>
      <label for="headtubeAngle"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(5)">Head Tube Angle</a></label>
      <input class="inputSizeChangeTwo" type="number" name="headtubeAngle" id="headtubeAngle" ng-model="firstBike.headtubeAngle" />
    </div>

    <div>
      <label for="headtubeLength"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(6)">Head Tube Length</a></label>
      <input class="inputSizeChangeTwo" type="number" name="headtubeLength" id="headtubeLength" ng-model="firstBike.headtubeLength" />
    </div>

    <div>
      <label for="effectiveToptube"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(7)">Effective Top Tube</a></label>
      <input class="inputSizeChangeTwo" type="number" name="effectiveToptube" id="effectiveToptube" ng-model="firstBike.effectiveToptube" />
    </div>

    <div>
      <label for="bbHeight"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(8)">BB Height</a></label>
      <input class="inputSizeChangeTwo" type="number" name="bbHeight" id="bbHeight" ng-model="firstBike.bbHeight" />
    </div>

    <div>
      <label for="wheelBase"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(9)">Wheel Base</a></label>
      <input class="inputSizeChangeTwo" type="number" name="wheelBase" id="wheelBase" ng-model="firstBike.wheelBase" />
    </div>

    <div>
      <label for="seattubeLength"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(10)">Seat Tube Length</a></label>
      <input class="inputSizeChangeTwo" type="number" name="seattubeLength" id="seattubeLength" ng-model="firstBike.seattubeLength" />
    </div>

    <div>
      <label for="seattubeAngle"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(11)">Seat Tube Angle</a></label>
      <input class="inputSizeChangeTwo" type="number" name="seattubeAngle" id="seattubeAngle" ng-model="firstBike.seattubeAngle" />
    </div>

    <div>
      <label for="chainstayLength"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(12)">Chainstay Length</a></label>
      <input class="inputSizeChangeTwo" type="number" name="chainstayLength" id="chainstayLength" ng-model="firstBike.chainstayLength" />
    </div>

    <div>
      <label for="reach"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(13)">Reach</a></label>
      <input class="inputSizeChangeTwo" type="number" name="reach" id="reach" ng-model="firstBike.reach" />
    </div>

</div>
<!-- Mobile friendly works better at "col-md-4" but browser is better at 3 -->
<div class="col-md-2">

  <h3>Bike Two</h3>
  <div>
    <label for="bikeTwoMake"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(1)">Make</a></label>
    <input class="inputSizeChange" type="text" class="inputSizeChange" name="bikeTwoMake" id="bikeTwoMake" ng-model="secondBike.bikeTwoMake" />
  </div>

  <div>
    <label for="bikeTwoModel"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(2)">Model</a></label>
    <input class="inputSizeChange" type="text" name="bikeTwoModel" id="bikeTwoModel" ng-model="secondBike.bikeTwoModel" />
  </div>

  <div>
    <label for="bikeTwoSize"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(3)">Size</a></label>
    <input class="inputSizeChangeTwo" type="number" name="bikeTwoSize" id="bikeTwoSize" ng-model="secondBike.bikeTwoSize" />
  </div>

    <div>
      <label for="toptubeLength"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(4)">Top Tube Length</a></label>
      <input class="inputSizeChangeTwo" type="number" name="toptubeLength" id="toptubLength" ng-model="secondBike.toptubeLength" />
    </div>

    <div>
      <label for="headtubeAngle"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(5)">Head Tube Angle</a></label>
      <input class="inputSizeChangeTwo" type="number" name="headtubeAngle" id="headtubeAngle" ng-model="secondBike.headtubeAngle" />
    </div>

    <div>
      <label for="headtubeLength"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(6)">Head Tube Length</a></label>
      <input class="inputSizeChangeTwo" type="number" name="headtubeLength" id="headtubeLength" ng-model="secondBike.headtubeLength" />
    </div>

    <div>
      <label for="effectiveToptube"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(7)">Effective Top Tube</a></label>
      <input class="inputSizeChangeTwo" type="number" name="effectiveToptube" id="effectiveToptube" ng-model="secondBike.effectiveToptube" />
    </div>

    <div>
      <label for="bbHeight"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(8)">BB Height</a></label>
      <input class="inputSizeChangeTwo" type="number" name="bbHeight" id="bbHeight" ng-model="secondBike.bbHeight" />
    </div>

    <div>
      <label for="wheelBase"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(9)">Wheel Base</a></label>
      <input class="inputSizeChangeTwo" type="number" name="wheelBase" id="wheelBase" ng-model="secondBike.wheelBase" />
    </div>

    <div>
      <label for="seattubeLength"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(10)">Seat Tube Length</a></label>
      <input class="inputSizeChangeTwo" type="number" name="seattubeLength" id="seattubeLength" ng-model="secondBike.seattubeLength" />
    </div>

    <div>
      <label for="seattubeAngle"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(11)">Seat Tube Angle</a></label>
      <input class="inputSizeChangeTwo" type="number" name="seattubeAngle" id="seattubeAngle" ng-model="secondBike.seattubeAngle" />
    </div>

    <div>
      <label for="chainstayLength"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(12)">Chainstay Length</a></label>
      <input class="inputSizeChangeTwo" type="number" name="chainstayLength" id="chainstayLength" ng-model="secondBike.chainstayLength" />
    </div>

    <div>
      <label for="reach"><a type="button" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="bikeInfo(13)">Reach</a></label>
      <input class="inputSizeChangeTwo" type="number" name="reach" id="reach" ng-model="secondBike.reach" />
    </div>


</div>
</form>


<div class="col-md-3">
<h2>Differences</h2>

<div>
<p>Top Tube Length: {{diffBike.toptubeLength}}</p>
<p>Head Tube Angle: {{diffBike.headtubeAngle}}</p>
<p>Head Tube Length: {{diffBike.headtubeLength}}</p>
<p>Effective Top Tube: {{diffBike.effectiveToptube}}</p>
<p>BB Height: {{diffBike.bbHeight}}</p>
<p>Wheel Base: {{diffBike.wheelBase}}</p>
<p>Seat Tube Length: {{diffBike.seattubeLength}}</p>
<p>Seat Tube Angle: {{diffBike.seattubeAngle}}</p>
<p>Chainstay Length: {{diffBike.chainstayLength}}</p>
<p>Reach: {{diffBike.reach}}</p>
</div>
</div>

<canvas id="canvas" width="450" height="400"></canvas>

<div class="col-md-4">
<button class="btn btn-default" ng-click="calcTheDiff()">Find the Diff</button>
<button class="btn btn-default" ng-click="saveData()">Save</button>
<button class="btn btn-default" ng-click="print()">Print</button>
</div>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{inputInfoTitle}}</h4>
      </div>
      <div class="modal-body">
      {{inputInfo}}
    </div>
    </div>
  </div>
</div>
